<span class={{this.computedClass}}>
  {{#if @prefix}}
    <div class="input-group-prepend">
      <span class="input-group-text prefix">
        {{@prefix}}
      </span>
    </div>
  {{/if}}
  <Input
    id={{@inputId}}
    @type="number"
    @value={{@value}}
    class="form-control"
    disabled={{@disabled}}
    placeholder={{@placeholder}}
    ...attributes
    {{on "input" this.valueChanged}}
  />
  {{#if @suffix}}
    <div class="input-group-append">
      <span class="input-group-text suffix">
        {{@suffix}}
      </span>
    </div>
  {{/if}}
</span>