<Input
  id={{this.inputIdComputed}}
  @type="range"
  @value={{@value}}
  class="form-control"
  disabled={{@disabled}}
  placeholder={{@placeholder}}
  min={{this.min}}
  max={{this.max}}
  step={{this.step}}
  ...attributes
  {{on "input" this.valueChanged}}
/>